<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pharmacy Recommendation System</title>
    <!-- 부트스트랩 CSS CDN 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div>
    <h2 class="h2-title">Pharmacy Recommendation Results</h2>
</div>

<table class="table table-hover">
    <tr>
        <th>약국명</th>
        <th>약국 주소</th>
        <th>거리</th>
        <th>길안내 링크</th>
        <th>로드뷰 링크</th>
    </tr>
    <tr th:each="pharmacy : ${outputFormList}">
        <td th:text="${pharmacy.pharmacyName}"></td>
        <td th:text="${pharmacy.pharmacyAddress}"></td>
        <td th:text="${pharmacy.distance}"></td>
        <td><a th:href="${pharmacy.directionUrl}" th:text="${pharmacy.directionUrl}"></a></td>
        <td><a th:href="${pharmacy.roadViewUrl}" th:text="${pharmacy.roadViewUrl}"></a></td>
    </tr>
</table>

<!-- jQuery 및 부트스트랩 JS CDN 추가 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
